<html>
    <head>
        <title>Show image</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <style>
          img {
            border: 3px solid black;
          }
        </style>
    </head>
    <body>
        <div class="container" style="margin-top: 100px;">
            <div class="text-center">
                <div class="form-group">
                    <label for="textarea">Message</label>
                    <textarea class="form-control"  rows="10" readonly>{{ message }}</textarea>
                </div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
                <script type="text/javascript" src="static/index.js"></script>
            </div>
        </div>
    </body>
</html>